<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987560342564-eehd8j6ha1ilhatbg7l25s6eem5vdma7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987560342564-eehd8j6ha1ilhatbg7l25s6eem5vdma7</string>
	<key>API_KEY</key>
	<string>AIzaSyBOkJNr2d-1Ki7BoMm420xxsmFCfcgcKPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>987560342564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pelin.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-47948</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-47948.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987560342564:ios:36b1d159195f62dcca94b1</string>
</dict>
</plist>